.blackFridayProduct{
    margin: 1rem 3rem;
    background-color:white;
    height: fit-content;
}

.blackFridayProduct__heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 1rem;
    color: white;
    background-color: #000000;
    font-weight: 700;
    
}

.blackFridayProduct__headingTitleMore{
display: flex;
align-items: center;

}

.blackFridayProduct__row{
    display: flex;
   justify-content: space-evenly;
}