.cart{
    margin: 3rem 0;
    padding: 0 1rem;
    
}

.cart__title{
    font-size: 4vmin;
    margin-bottom: 2rem;
}

.cart__empty{
    text-align: center;
    font-size: 3vmin;
    color: grey;
}

.cart__table{
    width: 100%;
    border-radius: 10px;
    
    
}

.cart__tableHeading{
    text-align: left;
    color: grey;
    font-size: 3vmin;
}



.cart__total{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}