
.product__item{
    padding: 1rem;
    margin: 1rem;
  
    
}

.product__item:hover{
    padding: 1rem;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
border-radius: 10px;
    
}
.product__itemImage{

height: 30vh;
background-color: red;

}

.product__itemName{
margin-bottom: 0.5rem;
}

.product__itemPrice{
    font-weight: 500;
}