
.blackFridayProduct__item{
    padding: 1rem;
    margin: 1rem;
  
    
}

.blackFridayProduct__item:hover{
    padding: 1rem;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
border-radius: 10px;
    
}
.blackFridayProduct__itemImage{

height: 25vh;
background-color: red;

}

.blackFridayProduct__itemName{
margin-bottom: 0.5rem;
font-size: 3vmin;
}

.blackFridayProduct__itemPrice{
    font-weight: 400;
    font-size: 4vmin;

}