
.product__row{
    display: flex;
    justify-content: space-between;
}

.product {
  margin: 1rem 3rem;
  height: fit-content;

  background-color: white;
  margin-bottom: 1rem;
}
.product_heading {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.product_itemNumber {
  font-size: 0.8rem;
  padding: 1rem;
  margin-top: 1rem;
  border-top: 1px solid #dcdce4;
  border-bottom: 1px solid #dcdce4;
  color: grey;
}
