.product{
    /* display: flex; */
}

.product__heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 3rem;
    padding: 1rem;
    color: white;
    background-color: #000000;
    
}

.product__headingTitleMore{
display: flex;
align-items: center;
}