.category__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
 

}

.category__item:hover{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}
.category__itemIcon{
    width: max-content;
    font-size: 4rem;
    padding: 1.2rem;
    border-radius: 100%;
    background-color: #F2F2F2;
}

.category__itemLabel{
    margin-top: 0.5rem;
    font-size: smaller;
}