.category__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 

}

.category__itemIcon{
    width: max-content;
    font-size: 4rem;
    padding: 1.2rem;
    border-radius: 100%;
    background-color: #F2F2F2;
}

.category__itemLabel{
    margin-top: 0.5rem;
    font-size: smaller;
}